body {
	background-image: url("../resources/background.jpg"); 
	background-size: 100% auto;
	margin: 0;
}

.header {
	background-color: #66a992;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    box-shadow: -2px 13px 13px rgba(44, 44, 44, 0.78);
}

.headerText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 5%;
}

.box {
	background-color: white;
    box-shadow: 0px 18px 13px rgba(44, 44, 44, 0.78);
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    margin-bottom: 26%;
}

.validation-error {
	border: 1px solid red;
}
